.App {
  text-align: center;
}

html {
  height: 100%;
}

body {
  background-color: white;
  margin: 40px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
