/* styles for header on user pages*/
.header{
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}